fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic[email]
python-multipart
passlib[bcrypt]
email-validator
jinja2
psycopg2-binary
numpy
scikit-learn
requests
qdrant-client
sentence-transformers
torch

