fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic[email]
python-multipart
passlib[bcrypt]
email-validator
jinja2
psycopg2-binary
requests
pymongo
python-dotenv
qdrant-client

python-jose[cryptography]
resend
cloudinary
redis
slowapi
